@model IEnumerable<ToDoList.Application.ToDoItem.ToDoItemDto>

@{
    var day = int.Parse(ViewContext.RouteData.Values["day"].ToString());
    var month = int.Parse(ViewContext.RouteData.Values["month"].ToString());
    var date = new DateTime(2024, month, day);
}



<div class="row">
    <div class="calendar-navigation">

        <a class="fas fa-arrow-left" asp-controller="Calendar" asp-action="DayDetails" asp-route-month="@(date.AddDays(-1).Month)"
           asp-route-day="@(date.AddDays(-1).Day)" style="text-decoration: none; margin-right: 10px"></a>

        <span>@date.ToString("dd MMMM yyyy")</span>

        <a class="fas fa-arrow-right" asp-controller="Calendar" asp-action="DayDetails" asp-route-month="@(date.AddDays(1).Month)"
           asp-route-day="@(date.AddDays(1).Day)" style="text-decoration: none; margin-right: 10px"></a>

    </div>

    @if (Model.IsNullOrEmpty())
    {
        <h1>You have no tasks today</h1>
    }
    else
        @foreach (var item in Model)
        {
            <div class="card m-3" style="width: 18rem; position: relative;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <div class="icons-container" style="position: absolute; top: 10px; right: 10px;">
                        <a class="btn-icon" asp-controller="ToDoItem" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a class="btn-icon open-modal" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteToDoItem">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
</div>

<div class="modal fade" id="deleteToDoItem" tabindex="1" aria-labelledby="deleteToDoItem" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deleteToDoItem">Are you sure you want to delete this task?</h2>
            </div>
            <a id="confirm-delete" class="btn btn-primary">Yes</a>
            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
@{
    ViewData["Title"] = "Details";
}
