@model CalendarViewModel

<div class="calendar-navigation">

    <a class="fas fa-arrow-left" asp-controller="Calendar" asp-action="Index"
       asp-route-month="@(Model.Month - 1 == 0 ? 12 : Model.Month - 1)" style="text-decoration: none; margin-right: 10px"></a>

    <span>@Model.SelectedDate.ToString("MMMM yyyy")</span>
    <a class="fas fa-arrow-right" asp-controller="Calendar" asp-action="Index"
       asp-route-month="@(Model.Month + 1 > 12 ? 1 : Model.Month + 1)" style="text-decoration: none; margin-left: 10px"></a>

</div>

<div class="calendar-container">
    <table class="calendar">
        <thead>
            <tr>
                <th>Pon</th>
                <th>Wt</th>
                <th>Śr</th>
                <th>Czw</th>
                <th>Pt</th>
                <th>Sob</th>
                <th>Nd</th>
            </tr>
        </thead>
        <tbody>
            @{
                int currentDay = 1 - Model.DayOfWeek;
                for (int week = 0; week < 6; week++)
                {
                    <tr>
                        @for (int day = 0; day < 7; day++)
                        {
                            string tdClass = currentDay >= 1 && currentDay <= Model.DaysInMonth ? "clickable" : "";
                            <td class="@tdClass" data-day="@currentDay">
                                @if (currentDay >= 1 && currentDay <= Model.DaysInMonth)
                                {
                                    @currentDay
                                    @if (Model.DaysWithToDoItem.Contains(currentDay))
                                    {
                                        <p>Think to do!</p>
                                    }
                                }
                            </td>
                            currentDay++;
                        }
                    </tr>
                    if (currentDay > Model.DaysInMonth)
                    {
                        break;
                    }
                }
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cells = document.querySelectorAll('.clickable');
        cells.forEach(function (cell) {
            cell.addEventListener('click', function () {
                var day = this.getAttribute('data-day');
                window.location.href = '@Url.Action("DayDetails")' + '/' + @Model.SelectedDate.Month + '/' + day;
            });
        });
    });
</script>



